.debug-inline {
    color: black;
    text-align: left;
    font-family: monospace, monospace;
    font-size: 12px;
    border: 1px solid lightgray;
    border-bottom: rgb(255, 100, 100) 3px solid;
    background-color: lightyellow;
    width: 100%;
    min-width: 500px;
    z-index: 9999;
    position: relative;

}

.debug-todo {
    border-bottom: rgb(255, 100, 100) 1px solid;
    padding-top: 5px;
}

.debug-didYouKnow {
    padding: 5px;
    color: lightslategrey;
}

.debug-inline:hover {
    position: relative;
    z-index: 9999;
}

.debug-inline-name {
    font-weight: bold;
    font-size: 13px;
    color: black;
    display: block;
}

.debug-hide {
    float: right;
    margin: 0 5px;
    text-decoration: none;
    color: red;
    font-size: 13px;
}

.debug-backtrace, .debug-backtrace-first {
    color: black;
    margin-left: 5px;
}

.debug-backtrace a, .debug-backtrace-first a {
    color: black;
}

.debug-backtrace a:hover, .debug-backtrace-first a:hover {
    color: darkblue;
}

.debug-backtrace-first {
    border-bottom: 1px dotted #ba0000;
    cursor: help;
}

.debug-backtrace-as-variable {
    background-color: white;
}

.debug-backtraces {
    display: none;
    padding-left: 10px;
    background-color: lightblue;
    cursor: help;
}

.debug-variable {
    border: lightgrey 1px dashed;
    max-height: 100px;
    overflow: auto;
    margin: 0 0 5px 5px;
    cursor: help;
}

.debug-variable-name {
    font-size: 12px;
    margin: 5px 0 0 5px;
    display: block;
}

.debug-sql {
    position: relative;
    background: white;
    padding: 3px;
}

.debug-sql-link {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* dump */
pre.tracy-dump {
    text-align: left;
    color: #444;
    font-size: 12px !important;
    margin: 0;
    padding: 3px;
}
